/* タイトル部分 */
table.y_data_title {
    width: 99vw;
    table-layout: fixed;
}


/* データ部分 */
div.y_scroll_box {
width: 99vw;
max-height: 78vh;
overflow-x: hidden; /* 横スクロール非表示 */
overflow-y: scroll; /* 縦スクロール */
}


table.y_data {
width: 99vw;
table-layout: fixed;/* 内容を固定 */
}

table.y_data td {
overflow: hidden; /* データが幅を超えたとき非表示に */
white-space: nowrap; /* データの折り返しを防止 */
}

html {
    overflow-x: hidden;
}